
QWidget {
    background-color: #121212;
    color: #e0e0e0;
    font-family: Arial;
    font-size: 12px;
}

QTabWidget::pane {
    border: 1px solid #333;
    padding: 5px;
}

QTabBar::tab {
    background: #1f1f1f;
    padding: 6px;
    margin: 1px;
    border: 1px solid #333;
    border-radius: 4px;
}

QTabBar::tab:selected {
    background: #00ff40;
    font-weight: bold;
    color: #ffffff;
}

QTabBar::tab:hover {
    background: #fffc4e;
    color: #000;
}

QHeaderView::section {
    background-color: #2d2d2d;
    color: #dcdcdc;
    padding: 4px;
    border: 1px solid #444;
}

QTableView, QTableWidget {
    background-color: #1e1e1e;
    alternate-background-color: #2a2a2a;
    color: #f0f0f0;
    selection-background-color: #0a91ff; 
    selection-color: white;
    gridline-color: #444;
}


#statsTable {
    color: #000000;
}

/* barre de défilement */
QScrollBar:vertical, QScrollBar:horizontal {
    background: #1e1e1e;
    width: 10px;
}

QScrollBar::handle {
    background: #5c5c5c;
    border-radius: 5px;
}

QScrollBar::handle:hover {
    background: #787878;
}

/* taille bouton */
QPushButton {
    border: 1px solid #444;
    padding: 6px;
    border-radius: 4px;
}

/* add bouton */
#addButton {
    background-color: #28aa0e;
    color: white;
    font-weight: bold;
}

#addButton:hover {
    background-color: #91ff65;
}

#addButton:pressed {
    background-color: #19e62a;
}

/* del bouton */
#delButton {
    background-color: #aa0e0e;
    color: white;
    font-weight: bold;
}

#delButton:hover {
    background-color: #ff6565;
}

#delButton:pressed {
    background-color: #e61919;
}


/* pour message*/
QLabel {
    color: #ffffff;
}


